.form{
    height: 500px;
    width: 500px;
    margin-top: 30px;

    .input {
        padding: 6px;
        border: 2px solid #AAAAAA;
        margin-bottom: 30px;
    }

    .inputFullname {
        width: 100%;
    }

    .inputNickname {
        width: 100%;
    }

    
    .emailPhone{
        display: flex;
        gap: 20px;

        .containerEmail{
            display: flex;
            flex-direction: column;
            width: 65%;
        }

        .containerPhone{
            display: flex;
            flex-direction: column;
            width: 35%;
        }
    }

    
    .containerLabel{
        margin-bottom: 10px;

        .labelSize{
            font-size: 1.2em;
        }
    }

    .inputsAge{
        display: flex;
        width: 100%;
        gap: 20px;
    
        .containerInputs {
            width: 22%;
            display: flex;
            flex-direction: column;
        }
    }

    .containerCheckbox{
        display: flex;
        gap: 10px;
       
    
        .inputCheckbox {
            min-width: 18px;
            min-height: 18px;

            &:hover {
                cursor: pointer;
            }

        }
    
        .labelCheckbox{
            font-size: 1.12em;
            color: black;
            font-weight: bold;
        
        }
    }

    .containerButton {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}