.data{
    font-family: 'Nunito'; 
    font-size: 1.5em;
    margin-top: 40px;
}
.text{
    font-size: 0.8em;
    margin-top: 8px;
}
.containerButton{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}