.Button:hover {
    cursor: pointer;
}

.Button {
    margin-left: 10px;
}

.ButtonNext {
    Width: 90px;
    Height: 40px;
    background: #074EE8;
    background-image: url("@/assets/Vector.png");
    background-size: 8px;
    background-repeat: no-repeat;
    color: white;
    border: none;
    border-radius: 4px;
    background-position-y: 50%;
    background-position-x: calc(70%);
    padding: 0px 24px 0px 0px;
}

.ButtonFinish {
    Width: 90px;
    Height: 40px;
    background: #074EE8;
    background-image: url("@/assets/VectorFinish.png");
    background-size: 14px;
    background-repeat: no-repeat;
    color: white;
    border: none;
    border-radius: 4px;
    background-position-y: 50%;
    background-position-x: calc(20%);
    padding: 0px 0px 0px 16px;
}

.ButtonMore {
    Width: 90px;
    Height: 40px;
    background: #074EE8;
    background-image: url("@/assets/VectorMore.png");
    background-size: 16px;
    background-repeat: no-repeat;
    color: white;
    border: none;
    border-radius: 4px;
    background-position-y: 50%;
    background-position-x: calc(20%);
    padding: 0px 0px 0px 16px;
}

