.menu-flex {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: "Nunito";
  }
  .nav-basic {
    width: 33%;
    border-bottom: 2px solid;
    border-bottom-color: #9b9d9f;
  }
  .nav-basic-at {
    width: 34%;
    border-bottom: 3px solid;
    border-bottom-color: #074EE8;
  }
  .menu-social {
    width: 33%;
    border-bottom: 2px solid;
    border-bottom-color: #9b9d9f;
  }
  .menu-social-at {
    width: 34%;
    border-bottom: 3px solid;
    border-bottom-color: #074EE8;
  }
  .menu-certificates {
    width: 33%;
    border-bottom: 2px solid;
    border-bottom-color: #9b9d9f;
  }
  .menu-certificates-at {
    width: 34%;
    border-bottom: 3px solid;
    border-bottom-color: #074EE8;
  }