.nameClass{ 
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #074ee8;
}
.title-card{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    display: flex;
    font-size: 18px;
    width: 31.25rem;
    color: black;
}