.formSocial {
    height: 500px;
    width: 500px;
    margin-top: 30px;

    .containerSocialButton {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 59.5%;
    }

    @media(max-width: 600px) {
        .containerSocialButton {
            margin-top: 15%;
        }
    }

}