.containerSpan {
    display: inline-block;
    margin-left: 20px;
    vertical-align: baseline;
  .span {
    visibility: visible;
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ff0000;
  }
}
