.main{
    background-color: #ECEEF2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    margin: 0;
    padding: 0;   
    .card{
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
        padding: 1.5em 0; 
        border: none;
        border-radius: 15px;
    }
}
