.buttonMore {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    background: #074ee8;
    border-radius: 4px;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    gap: 5px;
    cursor: pointer;
}

.vectorImg{
    height: 10px;
    width: 10px;
}

.moreImg{
    height: 16px;
    width: 16px;
}
