.inputs{
    font-family: 'Nunito';
    color: #8d7a7a;
    padding: 0.8em;
    border: 2px solid;
    border-color: #8d7a7a;
    border-radius: 5px;
    outline: none;
    &::placeholder{
        color: #8d7a7a;
    }   
}
